#Do not need to change if you run under containers
POSTGRES_USER=postgres

#Important!!! Set secure password
POSTGRES_PASSWORD=<your-secure-password>

#Do not need to change if you run under containers
POSTGRES_DB=school_db